


.main {
  display: flex;
  justify-content: space-between;
  flex-direction:column-reverse;

}

.window {

  margin-top: 100px;
  margin-left: 100px;

  width: 400px;
  min-height: 200px;
}


.closeIcon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: -1px;
      margin-top: -1px;
      transform: rotateZ(45deg);
     position: relative;

}

.window:nth-child(2) {
  margin: 2rem;
}

.windowHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.centerImage{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  }

  .browser{
    width: 80%;
    height: 45%;
  }

 

  .loadingBar{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 4vh;
    background-color:  #88bbeeb6;

    /* animation: pulse 5s infinite ease-in-out ; */
    animation: progressBar 4s ease-in-out infinite;
    animation-fill-mode:both; 

  }

  @keyframes progressBar {
    0% {
      background-color: #d7e2ec94;
    }
    50% {
      background-color: #38628bce;
    }

    100% {
      background-color: #d1e8ff9d;
    }
  }
  


